{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Debug Astros(#PROFILE#)",
            "type": "lldb",
            "request": "custom",
            "targetCreateCommands": ["target create ${workspaceFolder}/target/ksdk/#CRATE_NAME#/#BIN_NAME#"],
            "processCreateCommands": ["gdb-remote #ADDR_PORT#"]
        }
    ]
}
